.profile{
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  background: white;
  padding-bottom: 86px;

  &__img{
    border-radius: 50%;
    width: 20%;
    height: 20%;
  }

  &__top{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
  }

  &__info{
    display: flex;
    flex-direction: row;
  }

  &__name{
    color: blue;
    font-size: 24px;
    font-weight: 700;
    margin-right: 10px;
  }

  &__age{
    opacity: 1;
    color: blue;
    font-weight: 700;
    font-size: 24px;
  }


  &__circle-btn{
    border-radius: 50%;
    background: #dadfe6;
    padding: 10px;
    border: 1px solid #dadfe6;
  }

  &__camera{
    fill: #dadfe6;
  }

  &__circle-btn-blue{
    border-radius: 50%;
    background: blue;
    border: 1px solid blue;
    position: relative;
    top: 50px;
    padding: 10px;
  }

  &__bottom{
    display: flex;
    justify-content: space-around;
    height: 100px;
  }
}