.profile{
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  background: white;
  padding-bottom: 86px;

  &__img{
    border-radius: 50%;
    width: 20%;
    height: 20%;
  }

  &__top{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
  }

  &__info{
    display: flex;
    flex-direction: row;
  }

  &__name{
    color: cornflowerblue;
    font-size: 24px;
    font-weight: 700;
    margin-right: 10px;
  }

  &__age{
    opacity: 1;
    color: cornflowerblue;
    font-weight: 700;
    font-size: 24px;
  }


  &__circle-btn{
    border-radius: 50%;
    background: white;
    padding: 10px;
    border: 1px solid lightslategrey;
    box-shadow: 0 0 1px 1px lightslategrey;
    display: flex;
    cursor: pointer;
    outline: none;
  }

  &__camera{
    fill: white;
  }

  &__svg-blue{
    fill: cornflowerblue;
  }

  &__circle-btn-blue{
    border-radius: 50%;
    background: cornflowerblue;
    border: 1px solid cornflowerblue;
    position: relative;
    display: flex;
    cursor: pointer;
    top: 50px;
    padding: 11px;
  }

  &__plus{
    width: 15px;
    height: 15px;
    background: white;
    position: absolute;
    top: 39px;
    left: 36px;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px lightslategrey;
  }

  &__plus::after{
    content: "\002B";
    color: cornflowerblue;
    position: relative;
    bottom: 6px;
    left: 2px;
    font-size: 24px;
  }

  &__info-btn-blue{
    font-size: 14px;
    color: cornflowerblue;
    position: relative;
    top: 50px;
    text-transform: uppercase;
    margin-right: 0;

  }

  &__bottom{
    display: flex;
    justify-content: space-around;
    height: 100px;
  }

  &__form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}