/************Main Page**************/

.main-page-navbar{
  display: flex;
  color: white;
}
.main-page-navbar-logo{
  width: 30px;
}

.main-page-header{
  font-size: 5vw;
  color: white;
  text-align: center;
  margin: 20vh 0;
}



