/************Main Page**************/
.main-page{
  background-image: url("./main-background.jpg");
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.main-page-navbar{
  display: flex;
  color: white;
}
.main-page-navbar-logo{
  width: 30px;
}

.main-page-header{
  font-size: 5vw;
  color: white;
  text-align: center;
  margin: 20vh 0;
}



