/************Main Page**************/
.main-page{
  background-image: url("./main-background.jpg");
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.navbar-logo-container{
  display: flex;
  color: white;
  margin-left: 30px;
}
.logo-info{
  margin: 15px;
}
.main-page-navbar-logo{
  width: 30px;
}

.main-page-header{
  font-size: 5vw;
  color: white;
  text-align: center;
  margin: 20vh 0;
}
.buttons-container{
  display: flex;
width: 460px;
  margin: 0 auto;
}
.main-page-buttons{
  margin: 0 15px;
  width: 200px;
  height: 50px;
  border-radius: 30px;
  background-color: white;
  color: blue;
  font-size: 17px;
  font-weight: bold;
}

