.register {
  &__form-modal {
    display: flex;
    flex-direction: column;
  }
  &__modal-header{
    color: cornflowerblue;
  }
  &__modal-window{
    border-radius: 3%;
    outline:none;
    position: fixed;
    height: 500px;
    width: 400px;
    left: 50% !important;
    top: 50% !important;
    transform: translate(-50%, -50%) !important;
  }
  &__close{
    width: inherit;
    display: flex;
    justify-content: flex-end;
  }
  &__close-element{
    text-align: center;
    border: 3px solid darkgrey;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 10px;
    transition-duration: .2s;
  }
  &__cross{
    margin-top: 3px;
  }
  &__close-element:hover{
    transform: rotate(-90deg);
  }
}
.login {
  display: flex;
  flex-direction: column!important;
  &__form{
      display: flex;
      flex-direction: column;
  }
  &__btn-block{
    display: flex;
    justify-content: center;
  }
  &__btn {
    padding: 10px 15px;
    border-radius: 18px;
    border: none;
    background-color: cornflowerblue;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    color: white;
    margin: 45px 0;
  }
}
.modal > div:first-child{
  background-color: rgba(0, 0, 0, 0.8) !important;

}