@media screen and (min-width: 768px) {
  .register{
    &__form{
    flex-direction: row;
      flex-wrap: wrap;
  }
    &__form>div {
      flex: 50%;
    }
    &__form>div:last-child {
      flex:100%;
    }
  }
}
